.sTable {
   display: table;
   width: 100%;
}
.sTableRow {
   display: table-row;
}
.sTableCell {
   display: table-cell;
   padding: 3px 10px;
   border: 1px solid #999999;
}
.sTableCellYellow {
   display: table-cell;
   padding: 3px 10px;
   border: 1px solid #999999;
   border-color: #fff;
   background-color: #dd0;
   color: #f00;
}
.sTableCellBlue {
   display: table-cell;
   padding: 3px 10px;
   border: 1px solid #999999;
   border-color: #fff;
   background-color: #00d;
   color: #fff;
}
.sTableCellGreen {
   display: table-cell;
   padding: 3px 10px;
   border: 1px solid #999999;
   border-color: #fff;
   background-color: #0d0;
}
.sTableCellBlack {
   display: table-cell;
   padding: 3px 10px;
   border: 1px solid #999999;
   background-color: #000;
   border-color: #fff;
   color: #fff;
}
.sTableCellBlackBold {
   display: table-cell;
   padding: 3px 10px;
   border: 1px solid #999999;
   background-color: #000;
   border-color: #fff;
   color: #fff;
   font-weight: bold;
}
.sTableCellBlackSmall {
   display: table-cell;
   padding: 3px 10px;
   border: 1px solid #999999;
   background-color: #000;
   border-color: #fff;
   color: #fff;
   font-size: 90%;
}
.sTableHeading {
   display: table-header-group;
   background-color: #ddd;
   font-weight: bold;
}
.sTableFoot {
   display: table-footer-group;
   font-weight: bold;
   background-color: #ddd;
}
.sTableBody {
   display: table-row-group;
}

.sTableCellBlackLarge {
   display: table-cell;
   padding: 3px 10px;
   border: 1px solid #999999;
   background-color: #000;
   border-color: #fff;
   color: #fff;
   font-size: 200%;
}

.sTableCellBlueLarge {
   display: table-cell;
   padding: 3px 10px;
   border: 1px solid #999999;
   background-color: #00d;
   border-color: #fff;
   color: #fff;
   font-size: 200%;
}

.sTableCellLarge {
   display: table-cell;
   padding: 3px 10px;
   background-color: #fff;
   border: 1px solid #999999;
   border-color: #000;
   font-size: 200%;
}

.sTableCellBlackBoldLarge {
   display: table-cell;
   padding: 3px 10px;
   border: 1px solid #999999;
   background-color: #000;
   border-color: #fff;
   color: #fff;
   font-weight: bold;
   font-size: 200%;
}

.sTableCellGreenLarge {
   display: table-cell;
   padding: 3px 10px;
   border: 1px solid #999999;
   background-color: #0d0;
   border-color: #fff;
   font-size: 200%;
}

.sTableCellBlueSp {
   display: table-cell;
   width: 50px;
   height: 30px;
   //padding: 3px 10px;
   //border: 1px solid #999999;
   vertical-align: bottom;
   border: none;
   background-color: #00d;
   border-color: #fff;
   color: #fff;
}

.sTableCellEmpty {
   display: table-cell;
   width: 50px;
   border: none;
}
